{
    "extends": [
      "standard",
      "plugin:wdio/recommended"
    ],
    "parser": "@babel/eslint-parser",
    "parserOptions": {
      "ecmaVersion": 2016,
      "sourceType": "module"
    },
    "rules": {
      "indent": [
        2,
        4
      ],
      "semi": [
        "error",
        "never"
      ],
      "comma-dangle": [
        "error",
        "only-multiline"
      ],
      "no-unused-vars": [
        "warn",
         { "vars": "all", 
           "args": "all" }
      ],
      "no-undefined": [
        "warn"
      ],
      "quotes": [
        "warn", 
        "single"
      ]
    },
    "globals": {
      "$": true,
      "$$": true,
      "browser": true,
      "driver": true,
      "fit": true,
      "fdescribe": true,
      "beforeAll": true
    },
    "plugins": [
      "wdio",
      "import"
    ],
    "env": {
      "mocha": true
    }
  }